*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: monospace, verdana, sans-serif;
}
html {
  font-size: 16px;
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }
}

body {
  text-align: center;
  background-color: black;
  font-size: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
}
header {
  width: 100%;
}
header h1,
footer p,
footer p a {
  color: gold;
}
header h1 {
  font-size: 3rem;
  padding: 0.4rem 0;
}

.container {
  width: 420px;
  margin: 2rem auto;
  background-color: rgb(28, 27, 35);
  border: 10px solid #2f2f2f;
  border-radius: 4px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 80px);
  gap: 2px;
}

#display {
  grid-column: 1 / -1;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding: 5px;
  font-size: 2.5em;
  overflow: hidden;
  font-weight: initial;
  margin: 5px;
}

button {
  margin: 1px;
  border-radius: 5%;
  border: none;
  font-weight: initial;
  font-size: 2em;
  font-family: monospace;
  color: black;
  background-color: rgb(149, 194, 240);
}
button:hover {
  background-color: #383838;
  color: white;
}

.heighlight {
  background-color: #f3c706ef;
}
.heighlight:hover {
  background-color: #f3c706ef;
  color: black;
}

#zero {
  grid-column: span 2;
}

.degit {
  background-color: rgb(216, 211, 202);
}

@media screen and (max-width: 600px) {
  #container {
    width: 300px;
    border-width: 5px;
    grid-template-columns: repeat(4, 74px);
    grid-template-rows: repeat(6, 50px);
    gap: 1px;
  }
  #display {
    font-size: 2em;
  }
}
footer {
  width: 100%;
  font-size: 90%;
  border-top: 1px solid #383838;
  padding: 0.5rem;
}
